.loading-spinner {
  margin: 5rem auto;
  border-radius: 9999px;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  border-style: dotted;
  border-width: 16px;
  border-top-color: #130749;
  border-right-color: #ff00ea;
  border-bottom-color: #ff00ea;
  border-left-color: #130749;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
